
@{
    ViewBag.Title = "Resume";
}

<h2 align="center"><u>Curriculum Vitae</u></h2>
<body>
    <div id="header">
        <h3><p id="name">MD. IMTIAZ HABIB</p></h3>

    </div>
    <div class="left">
    </div>
    <div class="right">
        <h3>Highlights</h3>
        <p>
            <ul>
                <li>Currently going through my 11th semester </li>
                <li>Learnt C, C++, Java, C#, Python, JavaScript, HTML, CSS </li>
                <li>An independent, dedicated, efficient person. </li>
                <li>Punctual, Team work, Decision Making, Hardworking, Friendly, Problem solving.</li>
            </ul>
        </p>

        <h3>Educational Qualifications</h3>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: separate;
                width: 50%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
        <table>
            <thead>
                <tr id="heading">
                    <td>Qualification</td>
                    <td>Grades</td>
                    <td>Board</td>
                    <td>Institute</td>
                    <td>Year</td>
                </tr>
            </thead>

            <tr>
                <td>S.S.C</td>
                <td>GPA 5.00</td>
                <td>BJKHS</td>
                <td>Dhaka</td>
                <td>2015</td>
            </tr>
            <tr>
                <td>H.S.C</td>
                <td>GPA 4.41</td>
                <td>Dhaka</td>
                <td>PPIMSC</td>
                <td>2017</td>
            </tr>
            <tr>
                <td>BSc CSE</td>
                <td>CGPA 3.71</td>
                <td>N/A</td>
                <td>AIUB</td>
                <td>2023</td>
            </tr>

        </table>

        <h3>Technical Skills</h3>
        <p>
            <ul>
                <li>
                    <span id="course-name">Operating Systems:</span> DOS, Windows, Linux (Ubuntu)
                </li>
                <li>
                    <span id="course-name">Application Software:</span>Microsoft Office, MATLAB, Blender, Adobe Premere Pro,.
                </li>
                <li>
                    <span id="course-name">Programming Skills:</span>HTML, CSS, Python, JavaScript, learning C and C++, Java, C#, Php
                </li>
            </ul>
        </p>

        <h3>Personal Information:</h3>
        <p>
            <ul>
                <li>
                    An enthuasiast, determined hard working punctual person. I believe in task based roles and complete ownership of work.
                <li>
                    <span id="course-name">Languages Known:</span>Bengali, English, Hindi
                </li>
                <li>
                    <span id="course-name">Hobbies:</span>Travelling, cycling, Watching documentary, movies, playing football, badminton, swimming.
                </li>
            </ul>
        </p>

        <h3>Declaration</h3>
        <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.
        </p>
    </div>
    <div id="footer"></div>
</body>