@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sylhet Floods Donation 2022</h1>
    <p class="lead">Flood situation near Surma River,Sylhet</p>
    <p><a href="https://www.google.com/search?q=flood+in+sylhet&rlz=1C1GGRV_enBD913BD913&oq=flood+&aqs=chrome.2.69i57j0i67j0i131i433i512l4j0i131i433j0i131i433i512j0i512j0i457i512.4719j0j7&sourceid=chrome&ie=UTF-8" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wikipedia</h2>
        <p>
            Due to heavy rainfall in the Indian states of Assam and Arunachal Pradesh, the flood waters of Surma, Kushiyara and other rivers overflowed, causing severe flooding in Greater Sylhet.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/2022_Sylhet_floods">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Daily Star</h2>
        <p>European Commission provides € 1.2mn humanitarian aid to Bangladesh amidst flood</p>
        <p><a class="btn btn-default" href="https://www.thedailystar.net/tags/sylhet-flood">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flood Relief</h2>
        <p>
            This GoFundMe was created to raise expenses for the flood victims in Sylhet. Sylhet is currently drowning due to
            heavy floods and many people are left without electricity and resources. Majority of
            Sylhet has been heavily affected and businesses are facing a huge loss due to their inventory getting destroyed.
        </p>
        <p><a class="btn btn-default" href="https://www.gofundme.com/f/flood-relief-for-sylhet-bangladesh">Learn more &raquo;</a></p>
    </div>
</div>